strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=false
prefer-workspace-packages=true
link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=rolling
allow-scripts.esbuild@0.18.20=true
allow-scripts.esbuild@0.19.12=true
allow-scripts.esbuild@0.21.5=true
allow-scripts.esbuild@0.28.1=true
